html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .tool-box {
  padding-left: 15%;
  padding-right: 15%;
} */

 @media only screen and (max-width: 600px) {
  .tool-box {
margin-right:auto;
margin-left:auto;
max-width: 300px;

  }

}

 @media only screen and (min-width: 821px) {
  .tool-box {
margin-right:auto;
margin-left:auto;
max-width: 1012px;

  } 
}
 
@media only screen and (max-width: 800px) {
  .tool-box {
margin-right:auto;
margin-left:auto;
max-width: 700px;

  } 
}



