@font-face {
  font-family: 'Nunito Sans';
  src: url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
}


.table {
  background: none;
  border-width: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

.logoContainer {
  padding-right: 24px;
  border: 0;
}

.logo {
  height: 132px;
}

.contentContainer {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 0;
  line-height: 21px
}

.name {
  padding-bottom: 5px;
  color: #1B365D;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Nunito Sans', Helvetica, sans-serif;
}

.signatureText {
  color: #1B365D;
  font-size: 14px;
  font-family: 'Nunito Sans', Helvetica, sans-serif;
}

.phoneNumber {
  color: #1B365D;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Nunito Sans', Helvetica, sans-serif;
}

.linkContainer {
  vertical-align: top;
  color: #1B365D;
  font-size: 14px;
  font-family: 'Nunito Sans', Helvetica, sans-serif;
}

.link {
  color: #52A1B4;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
}